{% extends 'base.html' %} {% block title %}Ifeoluwa I{% endblock title %}
<p></p>
{% block content %} {% load humanize %} {% load static %}
<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="d-flex flex-column justify-content-center align-items-center"
>
  {% for about in abouts %}
  <div class="hero-container" data-aos="fade-in">
    <h1>{{about.name}}</h1>
    <p>
      I'm a
      <span
        class="typed"
        data-typed-items="Software Engineer, Python Engineer, Python Backend Developer, Python (+ReactJS) Full Stack Developer, Pythonista"
      ></span>
    </p>
  </div>
  {% endfor %}
</section>
<!-- End Hero -->

<main id="main" class="dark-theme">
  <!-- ======= About Section ======= -->
  {% include 'includes/messages.html' %}
  <section id="about" class="about">
    {% for about in abouts %}
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img
            src="{{about.about_photo.url}}"
            class="img-fluid"
            alt=""
            style="
              min-height: 350px;
              max-height: 350px;
              min-width: 340px;
              max-width: 340px;
            "
          />
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h2></h2><br />          
          <p>{{about.body | safe}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
  <!-- End About Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills section-bg dark-theme">
    <div class="container">
      <div class="section-title">
        <h2>Skills</h2>
      </div>
      <div class="row skills-content">
        {% for skill in skills %}
        <div class="col-lg-6" data-aos="fade-up">
          <div class="progress">
            <span class="skill"
              >{{skill.name}} <i class="val">{{skill.percentage}}%</i></span
            >
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="{{skill.percentage}}"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Skills Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume dark-theme">
    <div class="container">
      <div class="section-title">
        <h2>Resume</h2>
        {% for resume in resumes %}
        
        <p>
          Download {{resume.name}}... 
          <a href="/media/{{resume.document}}" download>{{resume.document}}</a>
        </p></br>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Resume Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg dark-theme">
    <div class="container">
      <div class="section-title">
        <h2>Projects</h2>
      </div>
      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        {% for portfolio in portfolios %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <h4 class="title"><a href="">{{portfolio.title}}</a></h4>
            <img
              src="{{portfolio.photo.url}}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a href="{{portfolio.github_url}}" title="Github" target="_blank"><i class="bx bxl-github"></i></a>
              <a href="{{portfolio.web_url}}" title="Web" target="_blank"><i class="bx bx-link"></i></a>
            </div>
          </div> </br>
          <p class="description">
            {{portfolio.description | safe}}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services dark-theme">
    <div class="container">
      <div class="section-title">
        <h2>Services</h2>
      </div>
      <div class="row">
        {% for service in services %}
        <div
          class="col-lg-4 col-md-6 icon-box"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">{{service.name}}</a></h4>
          <p class="description">
            {{service.details | safe}}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact dark-theme">
    <div class="container">
      <div class="section-title">
        <h2>Contact</h2>
      </div>

      <div class="row" data-aos="fade-in">
        <div class="col-lg-5 d-flex align-items-stretch">
          {% for about in abouts %}
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>{{about.city}}, {{about.country}}</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>
                <a href="mailto: {{about.email}}"  target="_blank">{{about.email}}</a>
              </p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>{{about.phone}}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
{% endblock content %}
